#table-wrapper {
  width: 80%;
  margin: 0 auto;

  p-table {
    .table-caption-wrapper {
      flex-wrap: wrap;

      .table-heading {
        font-size: 2rem;
      }
    }

    .badge {
      padding: 0.25rem 0.5rem;
      font-weight: 700;
      letter-spacing: 0.3px;
      border-radius: 2px;

      &.status-nein {
        background: #ffcdd2;
        color: #c63737;
      }

      &.status-ja {
        background: #c8e6c9;
        color: #256029;
      }
    }
  }
}
