<div id="table-wrapper">
  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <button
        pButton
        pRipple
        label="Neu"
        icon="pi pi-plus"
        class="p-button-success mr-2"
        (click)="openDialog(dialogModeOptions.create)"
      ></button>
      <button
        pButton
        pRipple
        label="Löschen"
        icon="pi pi-trash"
        class="p-button-danger"
        [disabled]="!selectedListe || !selectedListe.length"
        (click)="deleteSelectedEintrageWithConfirm()"
      ></button>
    </ng-template>
  </p-toolbar>

  <p-table
    #dt
    responsiveLayout="stack"
    currentPageReportTemplate="Angezeigt {first} - {last} von {totalRecords} Einträgen"
    selectionMode="multiple"
    [value]="einkaufliste"
    [rows]="10"
    [paginator]="true"
    [rowHover]="true"
    [showCurrentPageReport]="true"
    [resizableColumns]="true"
    [(selection)]="selectedListe"
  >
    <ng-template pTemplate="caption">
      <div
        class="flex align-items-center justify-content-between table-caption-wrapper"
      >
        <h5 class="m-0 table-heading">Einkaufsliste</h5>
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input
            pInputText
            type="text"
            placeholder="Suchen..."
            (input)="dt.filterGlobal($event, 'contains')"
          />
        </span>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th style="width: 3rem">
          <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
        </th>
        <th pResizableColumn pSortableColumn="artikel">
          Artikel<p-sortIcon field="artikel"></p-sortIcon>
        </th>
        <th pResizableColumn pSortableColumn="anzahl">
          Anzahl<p-sortIcon field="anzahl"></p-sortIcon>
        </th>
        <th pResizableColumn pSortableColumn="gekauft">
          Gekauft<p-sortIcon field="gekauft"></p-sortIcon>
        </th>
        <th>Aktion</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-listeneintrag>
      <tr [pSelectableRow]="listeneintrag">
        <td>
          <p-tableCheckbox
            [value]="listeneintrag"
            [pSelectableRow]="listeneintrag"
          ></p-tableCheckbox>
        </td>
        <td>{{ listeneintrag.payload.doc.data().artikel }}</td>
        <td>{{ listeneintrag.payload.doc.data().anzahl }}</td>
        <td>
          <span
            [class]="
              'badge status-' +
              (listeneintrag.payload.doc.data().gekauft ? 'ja' : 'nein')
            "
          >
            {{ listeneintrag.payload.doc.data().gekauft ? "Ja" : "Nein" }}
          </span>
        </td>
        <td>
          <button
            pButton
            pRipple
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success mr-2"
            (click)="openDialog(dialogModeOptions.edit, listeneintrag)"
          ></button>
          <button
            pButton
            pRipple
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            (click)="deleteListeneintragWithConfirm(listeneintrag)"
          ></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      <div class="flex align-items-center justify-content-between">
        Insgesamt hat die Liste
        {{ einkaufliste ? einkaufliste.length : 0 }} Einträge.
      </div>
    </ng-template>
  </p-table>
</div>

<p-dialog
  [header]="
    'Listeneintag ' +
    (dialogMode === dialogModeOptions.edit ? 'editieren' : 'hinzufügen')
  "
  styleClass="p-fluid"
  [style]="{ width: '450px' }"
  [modal]="true"
  [(visible)]="dialogOpen"
>
  <ng-template pTemplate="content">
    <div class="field">
      <label for="artikel">Artikel</label>
      <input
        type="text"
        [(ngModel)]="eintragForEditOrNew.artikel"
        pInputText
        id="artikel"
        required
        autofocus
      />
    </div>
    <div class="field" style="width: 7rem">
      <label for="anzahl">Anzahl</label>
      <p-inputNumber
        id="anzahl"
        [(ngModel)]="eintragForEditOrNew.anzahl"
        [showButtons]="true"
        buttonLayout="horizontal"
        spinnerMode="horizontal"
        [step]="1"
        decrementButtonClass="p-button-danger"
        incrementButtonClass="p-button-success"
        incrementButtonIcon="pi pi-plus"
        decrementButtonIcon="pi pi-minus"
      ></p-inputNumber>
    </div>

    <div class="field-checkbox">
      <p-checkbox
        [(ngModel)]="eintragForEditOrNew.gekauft"
        [binary]="true"
        inputId="binary"
      ></p-checkbox>
      <label for="binary">Gekauft</label>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      label="Abbrechen"
      icon="pi pi-times"
      class="p-button-text"
      (click)="dialogOpen = false"
    ></button>
    <button
      pButton
      pRipple
      [label]="
        this.dialogMode === dialogModeOptions.create
          ? 'Hinzufügen'
          : 'Aktualisieren'
      "
      icon="pi pi-check"
      class="p-button-text"
      (click)="dialogSavePressed()"
    ></button>
  </ng-template>
</p-dialog>
