p-confirmDialog {
  width: 450px;
}

#heading-wrapper {
  display: flex;
  justify-content: center;
  gap: 3rem;
  border: 0.25rem solid gray;
  padding: 1rem;
  margin: 1rem;
  flex-wrap: wrap;

  img {
    height: 5rem;
  }

  h1 {
    color: gray;
    line-height: 5rem;
  }
}

.nav-buttons {
  display: flex;
  justify-content: center;
}
